
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-home-new-dLn {
  display: flex;
  flex-direction: column;
  background: radial-gradient(77.65% 77.65% at 48.76% 98.86%, #79e7ff 0%, #f8ccf3 100%);
  padding: 2.7rem 2.4rem 18.1rem 2.5rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;

  .auto-group-yzgz-rzE {
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    flex-shrink: 0;
    padding: 1.4rem 3.7rem 1.5rem 7.1rem;
    width: 100%;
    height: 7.8rem;
    margin-bottom: 1.7rem;
    box-sizing: border-box;
    background-color: #ffffff;

    .group-2649-imY {
      flex-shrink: 0;
      margin: 0.9rem 76.481rem 0.8rem 0rem;
      width: 17.2193rem;
      height: calc(100% - 1.7rem);
      cursor: pointer;

      .frame-2613-1ke {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .grieve-bin-MZc {
          margin-right: 0.8rem;
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.1428571429;
          color: #131316;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-77-TMk {
          flex-shrink: 0;
          width: 1.1193rem;
          height: 0.6578rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .frame-2334-MCE {
      cursor: pointer;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      background-color: #f7ccf3;
      width: 9.6rem;
      justify-content: center;
      flex-shrink: 0;
      height: 4.8rem;
      font-weight: 500;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 3.5rem 0.1rem 0rem;
      color: #131313;
      border-radius: 1.2rem;
    }
    .group-36686-ww8 {
      box-sizing: border-box;
      padding: 0.9rem 1.3rem 0.9rem 2rem;
      background-color: #f8ccf3;
      flex-shrink: 0;
      margin-top: 0.1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 5rem;

      .admin-nightly-S7C {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.4rem 0.2rem 0rem;
        font-size: 1.6rem;
      }
      .mdi-face-man-profile-vo4 {
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
    }
  }
  .frame-2335-ymL {
    background-color: #f7ccf3;
    margin-bottom: 3.6rem;
    width: 8.8rem;
    cursor: pointer;
    color: #131313;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.6rem;
    line-height: 1.5;
    white-space: nowrap;
    display: flex;
    height: 4.8rem;
    font-weight: 500;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 1.2rem;
  }
  .auto-group-caan-c3c {
    margin: 0rem 42.8rem 10.1rem 42.8rem;
    width: calc(100% - 85.6rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .welcome-to-your-dashboard-uoQ {
      font-weight: 700;
      line-height: 1.3;
      white-space: nowrap;
      margin-right: 5.7rem;
      letter-spacing: -0.03rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 3rem;
    }
    .star-8-wEJ {
      width: 4.6rem;
      height: 4.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-fekr-r6N {
    margin: 0rem 4.8rem 0rem 4.9rem;
    width: calc(100% - 9.7rem);
    height: 52.3rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-629-v6E {
      border-radius: 1.6rem;
      width: 82.9rem;
      height: 52.3rem;
      position: absolute;
      top: 0;
      border: solid 0.1rem #007fff;
      box-sizing: border-box;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      left: 46.5rem;
      background-color: #ffffff;
    }
    .group-36677-mFG {
      left: 0;
      top: 0;
      width: 54.6rem;
      height: 52.3rem;
      position: absolute;

      .rectangle-629-sZC {
        height: 52.3rem;
        top: 0;
        border: solid 0.1rem #007fff;
        background-color: #131316;
        border-radius: 1.6rem;
        width: 41.9rem;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .group-2577-A2W {
        left: 3.7804rem;
        top: 2.1rem;
        width: 50.8196rem;
        height: 33.6605rem;
        position: absolute;

        .auto-group-syar-cfC {
          display: flex;
          align-items: flex-end;
          margin: 0rem 0rem 4.693rem 0.02rem;
          width: calc(100% - 0.0196rem);

          .complaint-box-7rr {
            margin-right: 22.8rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .new-Dut {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
        }
        .auto-group-k3wq-Ljc {
          margin: 0rem 23.447rem 3.058rem 0rem;
          width: calc(100% - 23.4465rem);
          height: 6.117rem;
          display: flex;
          align-items: center;

          .auto-group-ham8-2sL {
            height: 100%;
            background-color: #ffffff;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.682rem 1.682rem 1.682rem 1.683rem;

            .frame-W1p {
              width: 2.7526rem;
              height: 2.7526rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-2576-Bdk {
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.5rem;
            width: 19.4213rem;
            height: calc(100% - 2.317rem);
            cursor: pointer;
            flex-shrink: 0;
            margin: 0.765rem 0rem 1.552rem 0rem;
          }
        }
        .auto-group-m5nj-dVk {
          width: calc(100% - 23.4465rem);
          height: 6.117rem;
          display: flex;
          align-items: center;
          margin: 0rem 23.447rem 3.058rem 0rem;

          .auto-group-gbrs-XLE {
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.682rem 1.682rem 1.682rem 1.683rem;
            height: 100%;
            background-color: #f6fee0;

            .frame-q62 {
              height: 2.7526rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 2.7526rem;
            }
          }
          .group-2575-jx6 {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.5rem;
            font-weight: 500;
            margin: 0.765rem 0rem 1.552rem 0rem;
            width: 19.4213rem;
            height: calc(100% - 2.317rem);
          }
        }
        .auto-group-vd78-oSA {
          margin-right: 37.3679rem;
          width: calc(100% - 37.3679rem);
          height: 6.117rem;
          display: flex;
          align-items: center;

          .auto-group-hwm8-Hs8 {
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.835rem 1.529rem 1.835rem 1.529rem;
            height: 100%;
            background-color: #daf4fe;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .frame-bN2 {
              vertical-align: top;
              width: 3.0585rem;
              height: 2.4468rem;
              position: relative;
              object-fit: contain;
            }
          }
          .new-VyC {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.7877rem;
            font-size: 2.5rem;
            font-weight: 500;
          }
        }
      }
    }
    .rectangle-636-oyt {
      height: 8.4rem;
      cursor: pointer;
      left: 49.1rem;
      top: 7.2rem;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d2f6ff;
      width: 77.7rem;
      position: absolute;
      border: solid 0.1rem #007fff;
      box-sizing: border-box;
      border-radius: 1rem;
    }
    .rectangle-637-25x {
      background-color: #d2f6ff;
      border-radius: 1rem;
      width: 77.7rem;
      position: absolute;
      left: 49.1rem;
      top: 18.1rem;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 8.4rem;
      cursor: pointer;
      border: solid 0.1rem #007fff;
      box-sizing: border-box;
    }
    .group-36678-DRL {
      left: 50.4rem;
      top: 18.8rem;
      width: 72.5rem;
      height: 6.8rem;
      position: absolute;

      .auto-group-sf5k-JSn {
        margin: 0rem 8.9rem 0.7rem 0rem;
        width: calc(100% - 8.9rem);
        display: flex;
        align-items: center;

        .complaint-id-12345-bwg {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 18.5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
        }
        .title-lack-of-streetlights-hUv {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 2rem;
        }
      }
      .auto-group-onrg-QPL {
        width: 100%;
        display: flex;
        align-items: center;

        .date-of-submission-22-01-2023-Lnn {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 6.9rem;
        }
        .date-of-resolvement--rFL {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .complaint-id-12345-A18 {
      line-height: 1.5;
      white-space: nowrap;
      width: 20.4rem;
      position: absolute;
      left: 50.4rem;
      top: 7.8rem;
      font-family: Poppins, 'Source Sans Pro';
      height: 3rem;
      font-size: 2rem;
      font-weight: 500;
      color: #000000;
    }
    .title-lack-of-streetlights-CiW {
      width: 24.7rem;
      height: 3rem;
      left: 89.3rem;
      font-weight: 500;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 7.7rem;
      font-size: 2rem;
      color: #000000;
    }
    .date-of-submission-22-01-2023-tLS {
      font-weight: 500;
      line-height: 1.5;
      top: 11.5rem;
      height: 3rem;
      position: absolute;
      left: 50.4rem;
      font-size: 2rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 32rem;
    }
    .date-of-resolvement--ZhU {
      width: 33.6rem;
      height: 3rem;
      position: absolute;
      top: 11.5rem;
      line-height: 1.5;
      left: 89.3rem;
      font-size: 2rem;
      font-weight: 500;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
