
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-home-resolved-X9k {
  overflow: hidden;
  position: relative;
  display: flex;
  background: radial-gradient(77.65% 77.65% at 48.76% 98.86%, #79e7ff 0%, #f8ccf3 100%);
  box-sizing: border-box;
  padding: 2.7rem 2.4rem 18.1rem 2.5rem;
  width: 100%;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-pyst-m46 {
    background-color: #ffffff;
    margin-bottom: 1.7rem;
    padding: 1.4rem 3.7rem 1.5rem 7.1rem;
    width: 100%;
    height: 7.8rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2.5rem;
    flex-shrink: 0;

    .group-2649-CfC {
      flex-shrink: 0;
      margin: 0.9rem 76.481rem 0.8rem 0rem;
      width: 17.2193rem;
      height: calc(100% - 1.7rem);
      cursor: pointer;

      .frame-2613-JCS {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .grieve-bin-pwU {
          margin-right: 0.8rem;
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.1428571429;
          color: #131316;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-77-gyg {
          flex-shrink: 0;
          width: 1.1193rem;
          height: 0.6578rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .frame-2334-K14 {
      flex-shrink: 0;
      font-weight: 500;
      white-space: nowrap;
      align-items: center;
      background-color: #f7ccf3;
      border-radius: 1.2rem;
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      display: flex;
      margin: 0rem 3.5rem 0.1rem 0rem;
      width: 9.6rem;
      height: 4.8rem;
      color: #131313;
      justify-content: center;
      font-family: Poppins, 'Source Sans Pro';
    }
    .group-36686-3LN {
      background-color: #f8ccf3;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.9rem 1.3rem 0.9rem 2rem;
      align-items: center;
      border-radius: 5rem;
      margin-top: 0.1rem;
      cursor: pointer;
      display: flex;

      .admin-nightly-udU {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.4rem 0.2rem 0rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .mdi-face-man-profile-C6n {
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
      }
    }
  }
  .frame-2335-48z {
    color: #131313;
    white-space: nowrap;
    display: flex;
    background-color: #f7ccf3;
    flex-shrink: 0;
    width: 8.8rem;
    font-size: 1.6rem;
    border-radius: 1.2rem;
    margin-bottom: 3.6rem;
    line-height: 1.5;
    height: 4.8rem;
    align-items: center;
    font-family: Poppins, 'Source Sans Pro';
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
  }
  .auto-group-6wie-WWn {
    flex-shrink: 0;
    margin: 0rem 42.8rem 10.1rem 42.8rem;
    width: calc(100% - 85.6rem);
    display: flex;
    align-items: flex-start;

    .welcome-to-your-dashboard-yfG {
      margin-right: 5.7rem;
      font-size: 3rem;
      line-height: 1.3;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 700;
      letter-spacing: -0.03rem;
    }
    .star-8-J5G {
      height: 4.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 4.6rem;
    }
  }
  .auto-group-7yev-N58 {
    margin: 0rem 4.8rem 0rem 4.9rem;
    width: calc(100% - 9.7rem);
    height: 52.3rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-629-4s4 {
      box-sizing: border-box;
      background-color: #ffffff;
      height: 52.3rem;
      position: absolute;
      border: solid 0.1rem #007fff;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1.6rem;
      width: 82.9rem;
      left: 46.5rem;
      top: 0;
    }
    .group-36677-6Yr {
      width: 72.4rem;
      height: 52.3rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-629-1fp {
        height: 52.3rem;
        left: 0;
        box-sizing: border-box;
        background-color: #131316;
        border-radius: 1.6rem;
        width: 41.9rem;
        position: absolute;
        top: 0;
        border: solid 0.1rem #007fff;
        box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .group-2577-T22 {
        left: 3.7804rem;
        top: 2.1rem;
        width: 68.6196rem;
        height: 33.6605rem;
        position: absolute;

        .auto-group-vcwc-99k {
          margin: 0rem 0rem 4.693rem 0.02rem;
          width: calc(100% - 0.0196rem);
          display: flex;
          align-items: flex-end;

          .complaint-box-YBt {
            flex-shrink: 0;
            margin-right: 22.8rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .resolved-recent-qRt {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
          }
        }
        .auto-group-kwxc-Uze {
          margin: 0rem 49.268rem 3.058rem 0rem;
          width: calc(100% - 49.2679rem);
          height: 6.117rem;
          display: flex;
          align-items: center;

          .auto-group-npnn-vre {
            flex-shrink: 0;
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.682rem 1.682rem 1.682rem 1.683rem;
            height: 100%;
            background-color: #ffffff;
            border-radius: 0.8rem;

            .frame-px2 {
              width: 2.7526rem;
              height: 2.7526rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .resolved-3Jz {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.7877rem;
          }
        }
        .auto-group-b8ya-wQN {
          height: 6.117rem;
          display: flex;
          align-items: center;
          margin: 0rem 41.246rem 3.058rem 0rem;
          width: calc(100% - 41.2465rem);

          .auto-group-jemp-2wc {
            flex-shrink: 0;
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.682rem 1.682rem 1.682rem 1.683rem;
            height: 100%;
            background-color: #f6fee0;
            border-radius: 0.8rem;

            .frame-XtN {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 2.7526rem;
              height: 2.7526rem;
            }
          }
          .group-2575-SkS {
            font-family: Poppins, 'Source Sans Pro';
            margin: 0.765rem 0rem 1.552rem 0rem;
            width: 19.4214rem;
            color: #ffffff;
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
            height: calc(100% - 2.317rem);
            cursor: pointer;
            font-size: 2.5rem;
          }
        }
        .auto-group-xznz-USE {
          margin-right: 39rem;
          width: calc(100% - 39rem);
          height: 6.117rem;
          display: flex;
          align-items: center;

          .auto-group-qtga-wqc {
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.835rem 1.529rem 1.835rem 1.529rem;
            height: 100%;
            background-color: #daf4fe;

            .frame-BV4 {
              width: 3.0585rem;
              height: 2.4468rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-2574-DRk {
            font-size: 2.5rem;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            width: 21.6679rem;
            cursor: pointer;
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.765rem 0rem 1.552rem 0rem;
            height: calc(100% - 2.317rem);
          }
        }
      }
    }
    .rectangle-636-4hG {
      box-sizing: border-box;
      border-radius: 1rem;
      width: 77.7rem;
      height: 8.4rem;
      position: absolute;
      left: 49.1rem;
      top: 7.2rem;
      border: solid 0.1rem #007fff;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d2f6ff;
    }
    .rectangle-637-twC {
      left: 49.1rem;
      border: solid 0.1rem #007fff;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d2f6ff;
      border-radius: 1rem;
      width: 77.7rem;
      height: 8.4rem;
      position: absolute;
      top: 18.1rem;
      box-sizing: border-box;
    }
    .group-36678-uLW {
      width: 71.9rem;
      height: 6.8rem;
      position: absolute;
      left: 50.4rem;
      top: 18.8rem;

      .auto-group-vahq-Qo4 {
        margin: 0rem 8.3rem 0.7rem 0rem;
        width: calc(100% - 8.3rem);
        display: flex;
        align-items: center;

        .complaint-id-12345-iok {
          margin: 0.1rem 18.5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .title-lack-of-streetlights-1nr {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 2rem;
          font-weight: 500;
        }
      }
      .auto-group-hi2v-vQ2 {
        width: 100%;
        display: flex;
        align-items: center;

        .date-of-submission-22-01-2023-f6i {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 6.9rem;
        }
        .date-of-resolvement-22-01-2023-AZG {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .rectangle-638-eDY {
      height: 8.4rem;
      position: absolute;
      left: 49.1rem;
      top: 29.5rem;
      border: solid 0.1rem #007fff;
      box-sizing: border-box;
      width: 77.7rem;
      background-color: #d2f6ff;
      border-radius: 1rem;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .group-36679-Gki {
      top: 30.2rem;
      width: 71.9rem;
      height: 6.8rem;
      position: absolute;
      left: 50.4rem;

      .auto-group-v9tv-P4e {
        margin: 0rem 8.3rem 0.7rem 0rem;
        width: calc(100% - 8.3rem);
        display: flex;
        align-items: center;

        .complaint-id-12345-VNa {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 18.5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .title-lack-of-streetlights-PTx {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .auto-group-vtli-Tyc {
        width: 100%;
        display: flex;
        align-items: center;

        .date-of-submission-22-01-2023-aoL {
          flex-shrink: 0;
          margin-right: 6.9rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .date-of-resolvement-22-01-2023-BHL {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
    .complaint-id-12345-cNe {
      height: 3rem;
      left: 50.4rem;
      font-weight: 500;
      white-space: nowrap;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 20.4rem;
      position: absolute;
      top: 7.8rem;
      font-size: 2rem;
    }
    .title-lack-of-streetlights-pUi {
      position: absolute;
      left: 89.3rem;
      font-size: 2rem;
      color: #000000;
      white-space: nowrap;
      width: 24.7rem;
      height: 3rem;
      top: 7.7rem;
      font-weight: 500;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
    .date-of-submission-22-01-2023-tzN {
      top: 11.5rem;
      font-size: 2rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      width: 32rem;
      height: 3rem;
      position: absolute;
      left: 50.4rem;
      white-space: nowrap;
      font-weight: 500;
      color: #000000;
    }
    .date-of-resolvement-22-01-2023-BCn {
      white-space: nowrap;
      position: absolute;
      left: 89.3rem;
      font-weight: 500;
      font-size: 2rem;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 33rem;
      height: 3rem;
      top: 11.5rem;
    }
    .rectangle-639-f7x {
      background-color: #d2f6ff;
      width: 77.7rem;
      position: absolute;
      left: 49.1rem;
      border: solid 0.1rem #007fff;
      box-sizing: border-box;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 8.4rem;
      top: 40.9rem;
      border-radius: 1rem;
    }
    .group-36680-H9L {
      left: 50.4rem;
      top: 41.8rem;
      width: 71.9rem;
      height: 6.8rem;
      position: absolute;

      .auto-group-axpg-BkW {
        margin: 0rem 8.3rem 0.7rem 0rem;
        width: calc(100% - 8.3rem);
        display: flex;
        align-items: center;

        .complaint-id-12345-Ujc {
          margin: 0.1rem 18.5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .title-lack-of-streetlights-j9k {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-prwk-e1p {
        width: 100%;
        display: flex;
        align-items: center;

        .date-of-submission-22-01-2023-PEJ {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 6.9rem;
        }
        .date-of-resolvement-22-01-2023-tgr {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
      }
    }
  }
}
