
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-home-pending-YHg {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  background: radial-gradient(77.65% 77.65% at 48.76% 98.86%, #79e7ff 0%, #f8ccf3 100%);
  padding: 2.7rem 2.4rem 18.1rem 2.5rem;
  overflow: hidden;

  .auto-group-bgqq-oUW {
    height: 7.8rem;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 1.7rem;
    box-sizing: border-box;
    padding: 1.4rem 3.7rem 1.5rem 7.1rem;
    width: 100%;
    display: flex;
    border-radius: 2.5rem;
    flex-shrink: 0;

    .group-2649-GN6 {
      margin: 0.9rem 76.481rem 0.8rem 0rem;
      width: 17.2193rem;
      height: calc(100% - 1.7rem);
      cursor: pointer;
      flex-shrink: 0;

      .frame-2613-ACa {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .grieve-bin-JJn {
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.1428571429;
          color: #131316;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.8rem;
        }
        .line-77-oFY {
          vertical-align: top;
          flex-shrink: 0;
          width: 1.1193rem;
          height: 0.6578rem;
          object-fit: contain;
        }
      }
    }
    .frame-2334-HwQ {
      white-space: nowrap;
      flex-shrink: 0;
      width: 9.6rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #131313;
      margin: 0rem 3.5rem 0.1rem 0rem;
      background-color: #f7ccf3;
      border-radius: 1.2rem;
      height: 4.8rem;
      cursor: pointer;
      display: flex;
    }
    .group-36686-7vS {
      margin-top: 0.1rem;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      background-color: #f8ccf3;
      border-radius: 5rem;
      box-sizing: border-box;
      padding: 0.9rem 1.3rem 0.9rem 2rem;
      cursor: pointer;

      .admin-nightly-p4A {
        flex-shrink: 0;
        margin: 0rem 2.4rem 0.2rem 0rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .mdi-face-man-profile-Vvz {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .frame-2335-ybG {
    justify-content: center;
    width: 8.8rem;
    height: 4.8rem;
    color: #131313;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1.5;
    display: flex;
    margin-bottom: 3.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Poppins, 'Source Sans Pro';
    align-items: center;
    background-color: #f7ccf3;
    border-radius: 1.2rem;
    flex-shrink: 0;
  }
  .auto-group-ifby-yjg {
    margin: 0rem 42.8rem 10.1rem 42.8rem;
    width: calc(100% - 85.6rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .welcome-to-your-dashboard-VCE {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      margin-right: 5.7rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: -0.03rem;
    }
    .star-8-y7Q {
      width: 4.6rem;
      height: 4.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-x8l2-N9Y {
    flex-shrink: 0;
    margin: 0rem 4.8rem 0rem 4.9rem;
    width: calc(100% - 9.7rem);
    height: 52.3rem;
    position: relative;

    .rectangle-629-Fj8 {
      position: absolute;
      border: solid 0.1rem #007fff;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 1.6rem;
      width: 82.9rem;
      height: 52.3rem;
      left: 46.5rem;
      top: 0;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .group-36677-TqC {
      position: absolute;
      left: 0;
      top: 0;
      width: 59.5rem;
      height: 52.3rem;

      .rectangle-629-C26 {
        width: 41.9rem;
        left: 0;
        top: 0;
        border: solid 0.1rem #007fff;
        box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1.6rem;
        height: 52.3rem;
        position: absolute;
        box-sizing: border-box;
        background-color: #131316;
      }
      .group-2577-Fm4 {
        top: 2.1rem;
        width: 55.7195rem;
        height: 33.6605rem;
        position: absolute;
        left: 3.7805rem;

        .auto-group-zdaj-ANE {
          margin: 0rem 0rem 4.693rem 0.02rem;
          width: calc(100% - 0.0195rem);
          display: flex;
          align-items: flex-end;

          .complaint-box-4iW {
            margin-right: 22.8rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .pending-msp {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            font-size: 2.5rem;
            font-weight: 500;
          }
        }
        .auto-group-7ixs-thY {
          margin: 0rem 28.346rem 3.058rem 0rem;
          width: calc(100% - 28.3464rem);
          height: 6.117rem;
          display: flex;
          align-items: center;

          .auto-group-y2y8-xhQ {
            flex-shrink: 0;
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.682rem 1.682rem 1.682rem 1.683rem;
            height: 100%;
            background-color: #ffffff;
            border-radius: 0.8rem;

            .frame-fbp {
              width: 2.7526rem;
              height: 2.7526rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-2576-i4J {
            width: 19.4214rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            margin: 0.765rem 0rem 1.552rem 0rem;
            height: calc(100% - 2.317rem);
            cursor: pointer;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-qyga-d4n {
          margin: 0rem 37.368rem 3.058rem 0rem;
          width: calc(100% - 37.3678rem);
          height: 6.117rem;
          display: flex;
          align-items: center;

          .auto-group-5sir-RmL {
            height: 100%;
            background-color: #f6fee0;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.682rem 1.682rem 1.682rem 1.683rem;

            .frame-KLv {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 2.7526rem;
              height: 2.7526rem;
            }
          }
          .pending-bpE {
            flex-shrink: 0;
            margin-bottom: 0.7877rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-mocw-Jie {
          align-items: center;
          margin-right: 26.0999rem;
          width: calc(100% - 26.0999rem);
          height: 6.117rem;
          display: flex;

          .auto-group-28en-28r {
            margin-right: 1.8348rem;
            box-sizing: border-box;
            padding: 1.835rem 1.529rem 1.835rem 1.529rem;
            height: 100%;
            background-color: #daf4fe;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .frame-jJA {
              width: 3.0585rem;
              height: 2.4468rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-2574-EVp {
            font-size: 2.5rem;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.765rem 0rem 1.552rem 0rem;
            width: 21.6679rem;
            height: calc(100% - 2.317rem);
            cursor: pointer;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
    }
    .rectangle-636-s2z {
      box-sizing: border-box;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      width: 77.7rem;
      cursor: pointer;
      position: absolute;
      border: solid 0.1rem #007fff;
      height: 8.4rem;
      left: 49.1rem;
      top: 7.2rem;
      background-color: #d2f6ff;
    }
    .rectangle-637-hGv {
      background-color: #d2f6ff;
      border-radius: 1rem;
      width: 77.7rem;
      height: 8.4rem;
      top: 18.1rem;
      border: solid 0.1rem #007fff;
      box-sizing: border-box;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      cursor: pointer;
      position: absolute;
      left: 49.1rem;
    }
    .group-36678-kkz {
      width: 72.5rem;
      height: 6.8rem;
      position: absolute;
      left: 50.4rem;
      top: 18.8rem;

      .auto-group-9qvp-oUN {
        margin: 0rem 8.9rem 0.7rem 0rem;
        width: calc(100% - 8.9rem);
        display: flex;
        align-items: center;

        .complaint-id-12345-7EA {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 18.5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .title-lack-of-streetlights-ocn {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .auto-group-iy6e-ufp {
        width: 100%;
        display: flex;
        align-items: center;

        .date-of-submission-22-01-2023-dLv {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 6.9rem;
        }
        .date-of-resolvement--8Ya {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .complaint-id-12345-RXg {
      width: 20.4rem;
      font-size: 2rem;
      font-weight: 500;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      left: 50.4rem;
      top: 7.8rem;
      line-height: 1.5;
    }
    .title-lack-of-streetlights-UVx {
      width: 24.7rem;
      height: 3rem;
      position: absolute;
      left: 89.3rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      top: 7.7rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      white-space: nowrap;
    }
    .date-of-submission-22-01-2023-jAz {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 32rem;
      height: 3rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      left: 50.4rem;
      top: 11.5rem;
      white-space: nowrap;
    }
    .date-of-resolvement--cVg {
      font-size: 2rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      width: 33.6rem;
      height: 3rem;
      left: 89.3rem;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      top: 11.5rem;
      line-height: 1.5;
    }
  }
}
