
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-22-J42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-mjgs-oWa {
    height: 109.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #79e7ff 0%, #f8ccf3 100%);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.6rem 4.8rem 6.2rem 4.8rem;
    width: 100%;

    .auto-group-bvkv-gaN {
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      padding: 1.5rem 2.8rem 1.5rem 7.1rem;
      width: 100%;
      background-color: #ffffff;
      border-radius: 2.5rem;
      box-sizing: border-box;
      height: 7.8rem;
      display: flex;
      align-items: center;

      .group-2649-j2r {
        align-items: center;
        flex-shrink: 0;
        margin-right: 2.8rem;
        height: 100%;
        cursor: pointer;
        display: flex;

        .frame-2613-Sxr {
          margin: 0.8rem 88.681rem 0.8rem 0rem;
          height: calc(100% - 1.6rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .grieve-bin-xAW {
            margin-right: 0.8rem;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #131316;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .line-77-F9c {
            height: 0.6578rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.1193rem;
          }
        }
        .frame-2334-MTY {
          border-radius: 1.2rem;
          width: 9.5rem;
          font-size: 1.6rem;
          justify-content: center;
          color: #131313;
          align-items: center;
          background-color: #f7ccf3;
          height: 100%;
          font-weight: 500;
          line-height: 1.5;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-2614-nYr {
        align-items: center;
        background-color: #f7ccf3;
        color: #131313;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        line-height: 1.5;
        white-space: nowrap;
        border-radius: 1.2rem;
        width: 11rem;
        font-size: 1.6rem;
        font-weight: 500;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
      }
    }
    .auto-group-p71c-oir {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 4.4rem 2rem 0rem;
      width: calc(100% - 4.4rem);
      display: flex;

      .group-2651-W7U {
        flex-shrink: 0;
        margin: 2.1rem 2.5rem 0rem 0rem;
        height: 51.7rem;
        display: flex;
        align-items: flex-start;

        .auto-group-danw-pP4 {
          background-position: center;
          background-image: url('REPLACE_IMAGE:270cea26d31abdf015f7efbc994a8e8b4064d0c8');
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 2.5rem;
          padding: 24.8rem 2.5rem 2.1rem 2.8rem;
          height: 100%;
          display: flex;

          .vector-XHU {
            margin: 0rem 31.788rem 22.8rem 0rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .group-2650-Qs4 {
            flex-shrink: 0;
            margin: 23.5rem 32.55rem 0rem 0rem;
            display: flex;
            column-gap: 0.6358rem;
            align-items: center;
            border-radius: 0.5rem;

            .rectangle-4-JBk {
              width: 1.2138rem;
              height: 1.3rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
            .rectangle-5-nci {
              width: 1.2138rem;
              height: 1.3rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
            .rectangle-6-uxE {
              width: 1.2138rem;
              height: 1.3rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
            .rectangle-7-3Ye {
              width: 1.2138rem;
              height: 1.3rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
          }
          .vector-ANN {
            margin-bottom: 22.8rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .material-symbols-arrow-circle-right-outline-F8v {
          width: 2.4rem;
          height: 2.4rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
        }
      }
      .auto-group-dz5q-Z9c {
        width: 49.4rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-2614-rPc {
          line-height: 1.5;
          justify-content: center;
          font-weight: 500;
          height: 3rem;
          cursor: pointer;
          align-items: center;
          background-color: #f7ccf3;
          flex-shrink: 0;
          width: 7.9rem;
          font-size: 1rem;
          white-space: nowrap;
          display: flex;
          border-radius: 1.2rem;
          margin-bottom: 0.1rem;
          font-family: Poppins, 'Source Sans Pro';
          color: #131313;
        }
        .auto-group-rjlz-hf8 {
          margin-bottom: 2.5rem;
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .content-qWS {
            line-height: 1.1428571429;
            color: #131316;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 29.9rem;
            font-size: 2.8rem;
            font-weight: 600;
          }
          .frame-2616-kdQ {
            color: #131313;
            justify-content: center;
            border-radius: 1.2rem;
            flex-shrink: 0;
            cursor: pointer;
            line-height: 1.5;
            font-weight: 500;
            white-space: nowrap;
            width: 7.9rem;
            height: 3rem;
            background-color: #f7ccf3;
            font-size: 1rem;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            align-items: center;
          }
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-in-fringilla-erat-ut-aliquam-porttitor-urna-tellus-molestie-mi-ultrices-iaculis-tortor-nisl-eu-quam-praesent-arcu-mi-accumsan-sed-elit-hendrerit-mattis-laoreet-tortor-maecenas-vulputate-ultrices-urna-sit-amet-consequat-curabitur-suscipit-consectetur-enim-quis-suscipit-lacus-mauris-id-rutrum-dolor-id-rutrum-turpis-curabitur-elementum-lacus-et-semper-aliquet-praesent-hendrerit-ipsum-risus-et-pellentesque-arcu-aliquet-at-pellentesque-urna-quam-bibendum-et-ligula-eu-fringilla-auctor-lectus-in-hac-habitasse-platea-dictumst-cras-dictum-ligula-non-lacus-fermentum-semper-et-eget-nunc-ut-ornare-orci-augue-et-euismod-ipsum-laoreet-quis-obg {
          max-width: 45.7rem;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2.1333333333;
          color: #131316;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 3.7rem;
        }
      }
    }
    .auto-group-swuz-tux {
      margin: 0rem 8.2rem 0rem 4.2rem;
      width: calc(100% - 12.4rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-bd3p-bZU {
        margin-right: 22.9rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .content-Vuk {
          margin-bottom: 2.5rem;
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.1428571429;
          color: #131316;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-in-fringilla-erat-ut-aliquam-porttitor-urna-tellus-molestie-mi-ultrices-iaculis-tortor-nisl-eu-quam-praesent-arcu-mi-accumsan-sed-elit-hendrerit-mattis-laoreet-tortor-maecenas-vulputate-ultrices-urna-sit-amet-consequat-curabitur-suscipit-consectetur-enim-quis-suscipit-lacus-mauris-id-rutrum-dolor-id-rutrum-turpis-curabitur-elementum-lacus-et-semper-aliquet-praesent-hendrerit-ipsum-risus-et-pellentesque-arcu-aliquet-at-pellentesque-urna-quam-bibendum-et-ligula-eu-fringilla-auctor-lectus-in-hac-habitasse-platea-dictumst-cras-dictum-ligula-non-lacus-fermentum-semper-et-eget-nunc-ut-ornare-orci-augue-et-euismod-ipsum-laoreet-quis-1dC {
          font-weight: 600;
          line-height: 2.1333333333;
          color: #131316;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 77.2rem;
          font-size: 1.5rem;
        }
      }
      .grieve-bin-logo-png-1-Zge {
        background-position: -50.0039rem -5.2792rem;
        background-image: url('REPLACE_IMAGE:3ae51fccc1409c69b3838dc8db74612440d482e3');
        flex-shrink: 0;
        width: 26.6rem;
        height: 32.4rem;
        position: relative;
        background-size: 477.907% 131.31%;
      }
    }
  }
  .auto-group-uc2n-Z4N {
    padding: 10.9rem 21rem 12.6rem 8.5rem;
    width: 100%;
    height: 57.9rem;
    display: flex;
    align-items: center;
    background-color: #131316;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-cshq-EgJ {
      margin-right: 13.141rem;
      width: 40.559rem;
      height: 100%;
      flex-shrink: 0;

      .grieve-bin-A4A {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 4.2509rem;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.1428571429;
        color: #ffffff;
      }
      .group-2516-4vE {
        flex-direction: column;
        background-color: #f4f4f6;
        border-radius: 1.6rem;
        margin: 0rem 0rem 4.068rem 0.002rem;
        box-sizing: border-box;
        padding: 2.433rem 2.399rem 2.5rem 2.434rem;
        width: calc(100% - 0.0016rem);
        display: flex;

        .subscribe-to-newsletter-6rv {
          color: #35333c;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.853rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .subscribe-now-to-receive-tips-on-how-to-take-your-business-to-the-next-level-caN {
          margin-bottom: 2.0948rem;
          max-width: 32.1rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #131316;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .group-2515-4BU {
          width: 100%;
          height: 4.8rem;
          display: flex;
          align-items: center;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .frame-2512-PDk {
            color: #605e6d;
            border-radius: 0.8rem;
            padding: 1.2rem;
            height: 100%;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            font-weight: 400;
            border: solid 0.1rem #bebdc6;
            flex-shrink: 0;
            margin-right: 1.6222rem;
            width: 22.0024rem;
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .frame-2513-Rw8 {
            font-weight: 500;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            line-height: 1.5;
            display: flex;
            border-radius: 0.8rem;
            background-color: #4891ff;
            width: 12.1rem;
            font-size: 1.6rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            height: 100%;
            color: #ffffff;
          }
        }
      }
      .frame-1364-HiS {
        padding: 0.385rem 0.2rem 0.3rem 0.3rem;
        width: calc(100% - 34.159rem);
        display: flex;
        align-items: center;
        margin-right: 34.159rem;
        box-sizing: border-box;

        .component-1-axS {
          flex-shrink: 0;
          margin: 0.015rem 2.1rem 0rem 0rem;
          width: 1.8rem;
          height: 1.7rem;
          object-fit: contain;
          vertical-align: top;
        }
        .component-3-rf4 {
          margin-bottom: 0.0869rem;
          width: 2rem;
          height: 1.6281rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-izcs-WzW {
      margin: 7.5rem 10.4rem 12.3rem 0rem;
      width: 11.1rem;
      height: calc(100% - 19.8rem);
      flex-shrink: 0;

      .company-1wG {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2000000212;
        color: #dfdee2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2rem;
      }
      .frame-2614-8W6 {
        width: 100%;
        row-gap: 1.6rem;
        display: flex;
        flex-direction: column;

        .about-ezE {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bcc2c3;
        }
        .our-process-Ypi {
          line-height: 1.5;
          color: #bcc2c3;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .join-our-team-5Zk {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bcc2c3;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-25nz-B6z {
      margin: 7.5rem 9.2rem 12.3rem 0rem;
      width: 12.3rem;
      height: calc(100% - 19.8rem);
      flex-shrink: 0;

      .resources-skW {
        line-height: 1.2000000212;
        color: #dfdee2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
      }
      .frame-2615-nca {
        row-gap: 1.6rem;
        display: flex;
        flex-direction: column;
        width: 100%;

        .news-6NN {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bcc2c3;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .research-pJN {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bcc2c3;
          font-family: Poppins, 'Source Sans Pro';
        }
        .recent-projects-7oG {
          color: #bcc2c3;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .auto-group-fz3g-pxa {
      margin: 7.5rem 0rem 20.3rem 0rem;
      height: calc(100% - 27.8rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .contact-Y7t {
        line-height: 1.2000000212;
        color: #dfdee2;
        font-family: Poppins, 'Source Sans Pro';
        margin-bottom: 2rem;
        font-size: 1.8rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 600;
        letter-spacing: -0.036rem;
      }
      .hellogrieve-bincom-qMt {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #bcc2c3;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
