
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-page-user-ad8 {
  overflow: hidden;
  background: radial-gradient(36.33% 36.33% at 19.47% 63.67%, #79e7ff 0%, #f8ccf3 100%);
  background-color: #ffffff;
  width: 100%;
  height: 105.5rem;
  position: relative;

  .auto-group-zopw-s6S {
    padding: 1.5rem 4.2rem 1.5rem 7.1rem;
    width: 139.1rem;
    height: 7.8rem;
    left: 2.5rem;
    display: flex;
    box-sizing: border-box;
    top: 2.7rem;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2.5rem;
    position: absolute;

    .group-2649-6jt {
      margin: 0.8rem 100.981rem 0.8rem 0rem;
      width: 17.2193rem;
      height: calc(100% - 1.6rem);
      cursor: pointer;
      flex-shrink: 0;

      .frame-2613-Piz {
        align-items: flex-start;
        width: 100%;
        height: 100%;
        display: flex;

        .grieve-bin-jH4 {
          line-height: 1.1428571429;
          color: #131316;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.8rem;
          font-size: 2.8rem;
          font-weight: 600;
        }
        .line-77-EDp {
          height: 0.6578rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.1193rem;
        }
      }
    }
    .frame-2334-YkJ {
      color: #131313;
      justify-content: center;
      background-color: #f7ccf3;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 500;
      white-space: nowrap;
      display: flex;
      align-items: center;
      height: 100%;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      width: 9.6rem;
      cursor: pointer;
      border-radius: 1.2rem;
    }
  }
  .auto-group-csfc-NzE {
    align-items: flex-end;
    width: 35rem;
    height: 4.4rem;
    position: absolute;
    left: 54.4rem;
    top: 25.8rem;
    display: flex;

    .user-log-in-Sz6 {
      line-height: 1.3;
      font-family: Poppins, 'Source Sans Pro';
      margin-right: 11.9rem;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: -0.03rem;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .star-8-LZg {
      flex-shrink: 0;
      width: 4.6rem;
      height: 4.4rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-zaaw-TuC {
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.8rem 1.8rem 1.8rem 1.6rem;
    height: 5.6rem;
    position: absolute;
    left: 54.4rem;
    top: 38.2rem;
    border: solid 0.1rem #007dfb;
    width: 35.3rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    .helloworldgmailcom-jri {
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 13.1rem;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-36674-1JS {
      margin-top: 0.2rem;
      width: 1.8rem;
      height: 1.8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .email-address-GEN {
    line-height: 1.25;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 35.8rem;
    display: flex;
    font-size: 1.4rem;
    font-family: Inter, 'Source Sans Pro';
    width: 9.4rem;
    height: 1.8rem;
    left: 54.4rem;
    font-weight: 500;
  }
  .auto-group-ggx4-Yxa {
    display: flex;
    background-color: #ffffff;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 35.3rem;
    height: 5.6rem;
    left: 54.5rem;
    top: 49.5rem;
    padding: 2.5rem 2rem 2.094rem 1.6rem;
    position: absolute;
    align-items: center;
    border: solid 0.1rem #007fff;

    .ellipse-186-Ayx {
      margin: 0rem 0.4rem 0.406rem 0rem;
      width: 0.6rem;
      height: 0.6rem;
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
    }
    .ellipse-187-s7g {
      height: 0.6rem;
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin: 0rem 0.4rem 0.406rem 0rem;
      width: 0.6rem;
    }
    .ellipse-188-mTx {
      width: 0.6rem;
      height: 0.6rem;
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin: 0rem 0.4rem 0.406rem 0rem;
    }
    .ellipse-189-G9p {
      width: 0.6rem;
      height: 0.6rem;
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin: 0rem 0.4rem 0.406rem 0rem;
    }
    .ellipse-190-Mwx {
      margin: 0rem 0.4rem 0.406rem 0rem;
      width: 0.6rem;
      height: 0.6rem;
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
    }
    .ellipse-191-22W {
      margin: 0rem 0.4rem 0.406rem 0rem;
      width: 0.6rem;
      height: 0.6rem;
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
    }
    .ellipse-192-85Y {
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin: 0rem 0.4rem 0.406rem 0rem;
      width: 0.6rem;
      height: 0.6rem;
    }
    .ellipse-193-dY6 {
      margin: 0rem 22.4rem 0.406rem 0rem;
      width: 0.6rem;
      height: 0.6rem;
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
    }
    .icons1-vGJ {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 1.7rem;
      height: 1.006rem;
    }
  }
  .password-DWJ {
    height: 1.8rem;
    position: absolute;
    left: 54.5rem;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.6rem;
    top: 47.1rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.25;
    color: #000000;
  }
  .forgot-password-JXk {
    width: 11.9rem;
    height: 1.8rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 77.9rem;
    top: 56.6rem;
    line-height: 1.25;
    white-space: nowrap;
  }
  .auto-group-8due-xcJ {
    height: 5.6rem;
    white-space: nowrap;
    background-color: #000000;
    width: 35.3rem;
    top: 63.5rem;
    font-weight: 600;
    font-family: Inter, 'Source Sans Pro';
    align-items: center;
    left: 54.4rem;
    font-size: 1.6rem;
    line-height: 1.25;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    color: #ffffff;
    border: solid 0.1rem #4891ff;
    border-radius: 1rem;
    position: absolute;
  }
  .auto-group-abnj-m3x {
    display: flex;
    column-gap: 1.4rem;
    align-items: center;
    width: 35.3rem;
    height: 5.6rem;
    position: absolute;
    left: 54.5rem;
    top: 78.2rem;

    .auto-group-kksi-4Hx {
      border: solid 0.1rem #007fff;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.9rem 4.952rem 1.9rem 4.952rem;
      height: 100%;

      .facebook-logo-yQv {
        width: 0.8956rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-jtyv-U6n {
      box-sizing: border-box;
      padding: 1.903rem 4.578rem 1.903rem 4.6rem;
      height: 100%;
      border: solid 0.1rem #007fff;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;

      .google-logo-PUe {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 1.7218rem;
        height: 1.7949rem;
      }
    }
    .auto-group-4s6r-rd8 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.8rem 4.508rem 1.707rem 4.556rem;
      height: 100%;
      border: solid 0.1rem #007fff;
      background-color: #ffffff;
      border-radius: 1rem;

      .apple-logo-NrN {
        width: 1.7352rem;
        height: 2.0931rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-zrn6-t42 {
    width: 35.3rem;
    height: 1.8rem;
    position: absolute;
    left: 54.5rem;
    top: 74.2rem;
    display: flex;
    align-items: center;

    .line-21-MyC {
      margin: 0.1rem 1rem 0rem 0rem;
      width: 12.2rem;
      height: 0.1rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
    .or-login-with-U2E {
      margin-right: 0.7rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.6999999881);
      flex-shrink: 0;
      display: flex;
      line-height: 1.25;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-20-iSN {
      flex-shrink: 0;
      margin-top: 0.1rem;
      width: 12.2rem;
      height: 0.1rem;
      background-color: #ffffff;
    }
  }
  .dont-have-an-account-sign-up-S7U {
    line-height: 1.25;
    color: #000000;
    height: 1.8rem;
    position: absolute;
    left: 61.6rem;
    top: 86.9rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 21rem;
    display: flex;
    align-items: baseline;

    .dont-have-an-account-sign-up-S7U-sub-0 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .dont-have-an-account-sign-up-S7U-sub-1 {
    }
    .dont-have-an-account-sign-up-S7U-sub-2 {
      font-weight: 600;
      line-height: 1.25;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.4rem;
    }
  }
  .frame-2335-9Zc {
    width: 8.8rem;
    cursor: pointer;
    position: absolute;
    top: 12.2rem;
    white-space: nowrap;
    left: 2.5rem;
    color: #131313;
    display: flex;
    align-items: center;
    background-color: #b6daf9;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    justify-content: center;
    font-family: Poppins, 'Source Sans Pro';
    border-radius: 1.2rem;
  }
}
