
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-home-uNr {
  box-sizing: border-box;
  padding: 2.7rem 2.4rem 18.1rem 2.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: radial-gradient(77.65% 77.65% at 48.76% 98.86%, #79e7ff 0%, #f8ccf3 100%);
  background-color: #ffffff;
}
.admin-home-uNr .auto-group-a522-sU6 {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 1.4rem 3.7rem 1.5rem 7.1rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-a522-sU6 .group-2649-Hni {
  margin: 0.9rem 76.481rem 0.8rem 0rem;
  width: 17.2193rem;
  height: calc(100% - 1.7rem);
  cursor: pointer;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-a522-sU6 .group-2649-Hni .frame-2613-ZVL {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.admin-home-uNr .auto-group-a522-sU6 .group-2649-Hni .frame-2613-ZVL .grieve-bin-6kA {
  margin-right: 0.8rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #131316;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-a522-sU6 .group-2649-Hni .frame-2613-ZVL .line-77-bgv {
  width: 1.1193rem;
  height: 0.6578rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-a522-sU6 .frame-2334-Uki {
  margin: 0rem 3.5rem 0.1rem 0rem;
  width: 9.6rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #131313;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7ccf3;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-a522-sU6 .group-36686-Jjk {
  margin-top: 0.1rem;
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 0.9rem 2rem;
  display: flex;
  align-items: center;
  background-color: #f8ccf3;
  border-radius: 5rem;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-a522-sU6 .group-36686-Jjk .admin-nightly-zca {
  margin: 0rem 2.4rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-a522-sU6 .group-36686-Jjk .mdi-face-man-profile-G4J {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-home-uNr .frame-2335-r2W {
  margin: 0rem 130.3rem 3.6rem 0rem;
  width: 8.8rem;
  height: 4.8rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #131313;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7ccf3;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-afai-1pW {
  margin: 0rem 42.8rem 10.1rem 42.8rem;
  width: calc(100% - 85.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-afai-1pW .welcome-to-your-dashboard-fPG {
  margin-right: 5.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-afai-1pW .star-8-93Y {
  width: 4.6rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A {
  margin: 0rem 51rem 0rem 46.2rem;
  box-sizing: border-box;
  padding: 3rem 3.7804rem;
  width: calc(100% - 97.2rem);
  height: 52.3rem;
  border: solid 0.1rem #007fff;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #131316;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz {
  width: 29.6196rem;
  height: 32.7605rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c {
  box-sizing: border-box;
  padding-bottom: 3.0585rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .complaint-box-zCa {
  margin: 0rem 0rem 4.693rem 0.02rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .auto-group-4dpn-rEn {
  margin: 0rem 2.247rem 3.058rem 0rem;
  width: calc(100% - 2.2465rem);
  height: 6.117rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .auto-group-4dpn-rEn .auto-group-nusj-fCE {
  margin-right: 1.8348rem;
  box-sizing: border-box;
  padding: 1.682rem 1.682rem 1.682rem 1.683rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .auto-group-4dpn-rEn .auto-group-nusj-fCE .frame-HDc {
  width: 2.7526rem;
  height: 2.7526rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .auto-group-4dpn-rEn .group-2576-aCi {
  margin: 0.765rem 0rem 1.552rem 0rem;
  width: 19.4213rem;
  height: calc(100% - 2.317rem);
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .auto-group-81vl-pMx {
  margin-right: 2.2465rem;
  width: calc(100% - 2.2465rem);
  height: 6.117rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .auto-group-81vl-pMx .auto-group-ijrl-wBg {
  margin-right: 1.8348rem;
  box-sizing: border-box;
  padding: 1.682rem 1.682rem 1.682rem 1.683rem;
  height: 100%;
  background-color: #f6fee0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .auto-group-81vl-pMx .auto-group-ijrl-wBg .frame-1hL {
  width: 2.7526rem;
  height: 2.7526rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-2r8a-55c .auto-group-81vl-pMx .group-2575-v3c {
  margin: 0.765rem 0rem 1.552rem 0rem;
  width: 19.4213rem;
  height: calc(100% - 2.317rem);
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-vskk-7tn {
  width: 100%;
  height: 6.117rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-vskk-7tn .auto-group-ymxw-edp {
  margin-right: 1.8348rem;
  box-sizing: border-box;
  padding: 1.835rem 1.529rem 1.835rem 1.529rem;
  height: 100%;
  background-color: #daf4fe;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-vskk-7tn .auto-group-ymxw-edp .frame-hrz {
  width: 3.0585rem;
  height: 2.4468rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.admin-home-uNr .auto-group-1iz6-G8A .group-2577-wzz .auto-group-vskk-7tn .group-2574-wFY {
  margin: 0.765rem 0rem 1.552rem 0rem;
  width: 21.6679rem;
  height: calc(100% - 2.317rem);
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
