
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.signup-page-admin-Nen {
  width: 100%;
  height: 105.5rem;
  position: relative;
  overflow: hidden;
  background: radial-gradient(36.33% 36.33% at 19.47% 63.67%, #79e7ff 0%, #f8ccf3 100%);
  background-color: #ffffff;
}
.signup-page-admin-Nen .auto-group-zs3c-ES6 {
  box-sizing: border-box;
  padding: 1.5rem 4.2rem 1.5rem 7.1rem;
  width: 139.1rem;
  height: 7.8rem;
  position: absolute;
  left: 2.5rem;
  top: 2.7rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.signup-page-admin-Nen .auto-group-zs3c-ES6 .group-2649-ULS {
  margin: 0.8rem 100.981rem 0.8rem 0rem;
  width: 17.2193rem;
  height: calc(100% - 1.6rem);
  cursor: pointer;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-zs3c-ES6 .group-2649-ULS .frame-2613-ZMt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.signup-page-admin-Nen .auto-group-zs3c-ES6 .group-2649-ULS .frame-2613-ZMt .grieve-bin-uAr {
  margin-right: 0.8rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #131316;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-zs3c-ES6 .group-2649-ULS .frame-2613-ZMt .line-77-L1G {
  width: 1.1193rem;
  height: 0.6578rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-zs3c-ES6 .frame-2334-qCv {
  width: 9.6rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #131313;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7ccf3;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-1dtn-7pe {
  width: 35rem;
  height: 4.4rem;
  position: absolute;
  left: 54.1rem;
  top: 18.1rem;
  display: flex;
  align-items: flex-end;
}
.signup-page-admin-Nen .auto-group-1dtn-7pe .admin-sign-up-Miz {
  margin-right: 6rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-1dtn-7pe .star-8-SEe {
  width: 4.6rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-ijai-iCA {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 1.8rem 1.6rem;
  width: 35.3rem;
  height: 5.6rem;
  position: absolute;
  left: 54.1rem;
  top: 30.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #007dfb;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signup-page-admin-Nen .auto-group-ijai-iCA .helloworldgmailcom-ZyU {
  margin-right: 13.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-ijai-iCA .group-36674-49Y {
  margin-top: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.signup-page-admin-Nen .email-address-KbG {
  width: 9.4rem;
  height: 1.8rem;
  position: absolute;
  left: 54.1rem;
  top: 28.1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-page-admin-Nen .auto-group-qadg-oWS {
  width: 35.3rem;
  height: 5.6rem;
  position: absolute;
  left: 54.4rem;
  top: 62.3rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #4891ff;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 1rem;
}
.signup-page-admin-Nen .auto-group-2dar-ccJ {
  width: 35.3rem;
  height: 5.6rem;
  position: absolute;
  left: 54.5rem;
  top: 77rem;
  display: flex;
  column-gap: 1.4rem;
  align-items: center;
}
.signup-page-admin-Nen .auto-group-2dar-ccJ .auto-group-ijxq-FfG {
  box-sizing: border-box;
  padding: 1.9rem 4.952rem 1.9rem 4.952rem;
  height: 100%;
  border: solid 0.1rem #007fff;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-2dar-ccJ .auto-group-ijxq-FfG .facebook-logo-iok {
  width: 0.8956rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.signup-page-admin-Nen .auto-group-2dar-ccJ .auto-group-ggne-QwU {
  box-sizing: border-box;
  padding: 1.903rem 4.578rem 1.903rem 4.6rem;
  height: 100%;
  border: solid 0.1rem #007fff;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-2dar-ccJ .auto-group-ggne-QwU .google-logo-L4S {
  width: 1.7218rem;
  height: 1.7949rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.signup-page-admin-Nen .auto-group-2dar-ccJ .auto-group-lcr6-R5t {
  box-sizing: border-box;
  padding: 1.8rem 4.508rem 1.707rem 4.556rem;
  height: 100%;
  border: solid 0.1rem #007fff;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-2dar-ccJ .auto-group-lcr6-R5t .apple-logo-W7L {
  width: 1.7352rem;
  height: 2.0931rem;
  object-fit: contain;
  vertical-align: top;
}
.signup-page-admin-Nen .auto-group-r3ce-Ckr {
  width: 35.3rem;
  height: 1.8rem;
  position: absolute;
  left: 54.5rem;
  top: 73rem;
  display: flex;
  align-items: center;
}
.signup-page-admin-Nen .auto-group-r3ce-Ckr .line-21-feS {
  margin: 0.1rem 1rem 0rem 0rem;
  width: 12.2rem;
  height: 0.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-r3ce-Ckr .auto-group-tvwl-W9G {
  width: 22.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-r3ce-Ckr .auto-group-tvwl-W9G .or-register-with-Mfg {
  width: 11.1rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-page-admin-Nen .auto-group-r3ce-Ckr .auto-group-tvwl-W9G .line-20-dNJ {
  width: 12.2rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 0.9rem;
  background-color: #ffffff;
}
.signup-page-admin-Nen .dont-have-an-account-sign-up-hNA {
  width: 21rem;
  height: 1.8rem;
  position: absolute;
  left: 61.6rem;
  top: 85.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.signup-page-admin-Nen .dont-have-an-account-sign-up-hNA .dont-have-an-account-sign-up-hNA-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.signup-page-admin-Nen .dont-have-an-account-sign-up-hNA .dont-have-an-account-sign-up-hNA-sub-1 {
}
.signup-page-admin-Nen .dont-have-an-account-sign-up-hNA .dont-have-an-account-sign-up-hNA-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.signup-page-admin-Nen .auto-group-3qgr-MzS {
  box-sizing: border-box;
  padding: 1.8rem 1.6rem;
  width: 35.3rem;
  height: 5.6rem;
  position: absolute;
  left: 54.3rem;
  top: 42.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #007fff;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signup-page-admin-Nen .auto-group-3qgr-MzS .must-be-8-characters-xDY {
  margin-right: 14.3rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-3qgr-MzS .icons1-YxS {
  margin-bottom: 0.1rem;
  width: 1.7rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-ynoc-BVc {
  box-sizing: border-box;
  padding: 1.8rem 1.6rem;
  width: 35.3rem;
  height: 5.6rem;
  position: absolute;
  left: 54.3rem;
  top: 52.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #007fff;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signup-page-admin-Nen .auto-group-ynoc-BVc .repeat-password-Ti2 {
  margin-right: 17.7rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signup-page-admin-Nen .auto-group-ynoc-BVc .icons1-ZWA {
  margin-bottom: 0.1rem;
  width: 1.7rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.signup-page-admin-Nen .create-a-password-3w8 {
  width: 12.6rem;
  height: 1.8rem;
  position: absolute;
  left: 54.3rem;
  top: 40.1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-page-admin-Nen .confirm-password-uiS {
  width: 12.3rem;
  height: 1.8rem;
  position: absolute;
  left: 54.3rem;
  top: 50.3rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-page-admin-Nen .frame-2335-a3t {
  width: 8.8rem;
  height: 4.8rem;
  cursor: pointer;
  position: absolute;
  left: 2.5rem;
  top: 12.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #131313;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b6daf9;
  border-radius: 1.2rem;
}
