
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.user-home-2Yz {
  box-sizing: border-box;
  padding: 2.7rem 2.4rem 18.1rem 2.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: radial-gradient(77.65% 77.65% at 48.76% 98.86%, #79e7ff 0%, #f8ccf3 100%);
  background-color: #ffffff;
}
.user-home-2Yz .auto-group-ywfx-gdY {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 1.4rem 3.7rem 1.5rem 7.1rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-ywfx-gdY .group-2649-Mjg {
  margin: 0.9rem 76.481rem 0.8rem 0rem;
  width: 17.2193rem;
  height: calc(100% - 1.7rem);
  cursor: pointer;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-ywfx-gdY .group-2649-Mjg .frame-2613-9fY {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.user-home-2Yz .auto-group-ywfx-gdY .group-2649-Mjg .frame-2613-9fY .grieve-bin-zw4 {
  margin-right: 0.8rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #131316;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-ywfx-gdY .group-2649-Mjg .frame-2613-9fY .line-77-gYz {
  width: 1.1193rem;
  height: 0.6578rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-ywfx-gdY .frame-2334-Zsg {
  margin: 0rem 3.5rem 0.1rem 0rem;
  width: 9.6rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #131313;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7ccf3;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-ywfx-gdY .group-36686-vbk {
  margin-top: 0.1rem;
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 0.9rem 2.7rem;
  display: flex;
  align-items: center;
  background-color: #f8ccf3;
  border-radius: 5rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-ywfx-gdY .group-36686-vbk .user-busy-sky-DKx {
  margin-right: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-ywfx-gdY .group-36686-vbk .mdi-face-man-profile-8C2 {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-home-2Yz .frame-2335-NcA {
  margin-bottom: 3.6rem;
  width: 8.8rem;
  height: 4.8rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #131313;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7ccf3;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-wxzn-9FY {
  margin: 0rem 42.8rem 10.1rem 42.8rem;
  width: calc(100% - 85.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-wxzn-9FY .welcome-to-your-dashboard-7Ln {
  margin-right: 5.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-wxzn-9FY .star-8-zQa {
  width: 4.6rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG {
  margin: 0rem 4.9rem 0rem 4.8rem;
  width: calc(100% - 9.7rem);
  height: 52.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .group-2571-yGW {
  margin-right: 4.2395rem;
  width: 37.1605rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .group-2571-yGW .group-2568-VEr {
  margin-bottom: 3.0585rem;
  box-sizing: border-box;
  padding: 4.9rem 3.367rem 3.365rem 4.9rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #007fff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .group-2571-yGW .group-2568-VEr .register-a-complaint-yvi {
  margin: 0rem 0.994rem 9.156rem 0rem;
  max-width: 15.8rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #131316;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .group-2571-yGW .group-2568-VEr .openmoji-writing-hand-light-skin-tone-eGA {
  margin-top: 3.6514rem;
  width: 12.0997rem;
  height: 12.7045rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .group-2571-yGW .group-2569-YF4 {
  box-sizing: border-box;
  padding: 4.894rem 4.561rem 5.951rem 4.893rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #007fff;
  background-color: #f6fee0;
  border-radius: 1.6rem;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .group-2571-yGW .group-2569-YF4 .assistant-nQJ {
  margin: 0rem 13.406rem 0.278rem 0rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #131316;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .group-2571-yGW .group-2569-YF4 .vector-qtN {
  margin-left: 16.5065rem;
  width: 11.1996rem;
  height: 9.8989rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc {
  margin-right: 4.2rem;
  box-sizing: border-box;
  padding: 3rem 3.7804rem;
  width: 41.9rem;
  height: 100%;
  border: solid 0.1rem #007fff;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #131316;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei {
  width: 28.9517rem;
  height: 32.7605rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn {
  box-sizing: border-box;
  padding-bottom: 3.0585rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .complaint-status-9AJ {
  margin: 0rem 0rem 4.693rem 0.02rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .auto-group-xk34-MBp {
  margin: 0rem 9.6rem 3.058rem 0rem;
  width: calc(100% - 9.6rem);
  height: 6.117rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .auto-group-xk34-MBp .auto-group-3g1q-Cy8 {
  margin-right: 1.8348rem;
  box-sizing: border-box;
  padding: 1.732rem 1.972rem 1.635rem 1.895rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .auto-group-xk34-MBp .auto-group-3g1q-Cy8 .mdi-marker-tick-HDt {
  width: 2.25rem;
  height: 2.75rem;
  object-fit: contain;
  vertical-align: top;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .auto-group-xk34-MBp .resolved-MzS {
  margin-bottom: 0.7877rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .auto-group-bxev-UJN {
  margin-right: 7.1rem;
  width: calc(100% - 7.1rem);
  height: 6.117rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .auto-group-bxev-UJN .auto-group-m5jy-nK4 {
  margin-right: 1.8348rem;
  box-sizing: border-box;
  padding: 1.682rem 1.682rem 1.682rem 1.683rem;
  height: 100%;
  background-color: #f6fee0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .auto-group-bxev-UJN .auto-group-m5jy-nK4 .frame-5Z4 {
  width: 2.7526rem;
  height: 2.7526rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-s4jt-SWn .auto-group-bxev-UJN .in-progress-hqL {
  margin-bottom: 0.7877rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-vcpa-wza {
  width: 100%;
  height: 6.117rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-vcpa-wza .auto-group-k6pk-1zS {
  margin-right: 1.8348rem;
  box-sizing: border-box;
  padding: 1.835rem 1.529rem 1.835rem 1.529rem;
  height: 100%;
  background-color: #daf4fe;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-vcpa-wza .auto-group-k6pk-1zS .frame-XC6 {
  width: 3.0585rem;
  height: 2.4468rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-k8nn-fMc .group-2577-Xei .auto-group-vcpa-wza .to-be-addressed-QFt {
  margin-bottom: 0.7877rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-oodc-RRt {
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0.9rem 1.7rem;
  height: 100%;
  border: solid 0.1rem #007fff;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(19, 19, 22, 0.200000003);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.user-home-2Yz .auto-group-241p-sjG .auto-group-oodc-RRt .assistant-is-a-premium-feature-to-activate-contact-the-admins-LYr {
  max-width: 38.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
}
